<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="/static/js/Three.js"></script>
		<script src="/static/js/Detector.js"></script>
		<script src="/static/js/Stats.js"></script>
		<script src="/static/js/jquery-1.8.3.min.js"></script>
		<script src="/static/js/STLLoader.js"></script>
		<link rel=stylesheet href="static/css/style.css" type="text/css"> 
		
		<title>sook</title>
	</head>

	<body>
		<div id="appBody">
			<div id="model">
	        	<div id="container">
	        		
	        	</div>

	        	<!-- Three js here -->
	        </div>
	        
	        <div id="data">
	            <h1>Data</h1>
	            <div id="datapoints"></div>
	            	<!-- Data automatically entered from database -->
	        </div>
	    </div>

	</body>
	<script type="x-shader/x-vertex" id="vertexshader">

			attribute float size;
			attribute vec3 ca;

			varying vec3 vColor;

			void main() {

				vColor = ca;

				vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );

				//gl_PointSize = size;
				gl_PointSize = size * ( 300.0 / length( mvPosition.xyz ) );

				gl_Position = projectionMatrix * mvPosition;

			}

		</script>
	<script type="x-shader/x-fragment" id="fragmentshader">

			uniform vec3 color;
			uniform sampler2D texture;

			varying vec3 vColor;

			void main() {

				gl_FragColor = vec4( color * vColor, 1.0 );
				gl_FragColor = gl_FragColor * texture2D( texture, gl_PointCoord );

			}

		</script>

	<script src="/static/js/mythree.js"></script>

</html>
