<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="/static/js/Three.js"></script>
		<script src="/static/js/Detector.js"></script>
		<script src="/static/js/Stats.js"></script>
		<script src="/static/js/jquery-1.8.3.min.js"></script>
		<link rel=stylesheet href="static/css/style.css" type="text/css"> 
		
		<title>acek</title>
	</head>

	<body>
		<div id="appBody">
			<div id="model">
	        	<div id="container">
	        		
	        	</div>

	        	<!-- Three js here -->
	        </div>
	        
	    </div>

	</body>
	

	<script src="/static/js/mythree.js"></script>

</html>
