body,html{
	/*width:1180px;
	height:100%;*/
	padding:0;
	margin: 0;
}

#appBody{
	background-color:#e5e5e5;
	width:1180px;
	height:100%;
	margin: 0 auto;
}

#model{
	width:849px;
	height: 100%;
	float:left;
	/*border-right: solid 1px #000;*/
	margin-top: 50px;

}

#data{
	width:330px;
	height: 100%;
	float:left;


}

#data p{
	text-align: right;
}

#container{
	background-color: #eee;
}

h1{
	text-align: right;
}